VITE_APPERITE_URL="https://nyc.cloud.appwrite.io/v1"  #ENDPOINT_URL
VITE_APPERITE_PROJECT_ID="6a53b2fd001456974163"
VITE_APPERITE_DATABASE_ID="6a53b4a50030843d7736"
VITE_APPERITE_Table_ID=""
VITE_APPERITE_BUCKET_ID="6a566f92000b4bbdbcfe"